/* header****************************************** */
.divimage{
    display: flex;
    justify-content: center;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .name {
    color: #006abf;
  }
  
  .contact{
    margin-bottom: 20px;
  }
  .contact svg{color: #fff;}