/* @font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("./fonts/Roboto-Light.ttf");
} */

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./fonts/Montserrat-Light.ttf");
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Montserrat, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
} */

body {
  margin: 0;
  font-family: 'Montserrat' !important;
}

#root, html,body {
  height: 100%;
}